a {
    text-decoration: none;
    color: #0055FF;

    &.subtle {
        text-decoration: none;
        color: #1f3d7a;
    }

    &:hover {
        text-decoration: none;
    }
}

hr {
    border: 1px solid #ededed;
    margin: 20px 0;
}

::-moz-selection {
    color: #FFFFFF;
    background: #0055FF;
}

::selection {
    color: #FFFFFF;
    background: #0055FF;
}

.social-icon {
    display: inline-block;
    margin: 12px auto;
    width: 24px;
    height: 24px;
}

.social-icon+.social-icon {
    margin-left: 20px;
}

.social-icon a {
    display: block;
}

.social-icon svg path {
    fill: #666;
}

.social-icon.instagram:hover svg path {
    fill: #E4405F;
}

.social-icon.facebook:hover svg path {
    fill: #3B5998;
}

.social-icon.twitter:hover svg path {
    fill: #1DA1F2;
}

.social-icon.linkedin:hover svg path {
    fill: #0077B5;
}

.social-icon.behance:hover svg path {
    fill: #1769FF;
}

.social-icon.dribbble:hover svg path {
    fill: #EA4C89;
}

.social-icon.medium:hover svg path {
    fill: #000000; /*#09B369;*/
}

.page-banner h2 {
    font-size: 40px;
    font-weight: 500;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.page-link.active{
    color: #0055FF;
}

.bookshelf {
    margin: 0 -12px;
    margin-bottom: 20px;

    .book {
        width: 226px;
        height: 346px;
        display: inline-block;
        margin: 0 12px 20px;
        box-shadow: 0 8px 24px rgba(0,0,0,0.16);
        position: relative;
        vertical-align: top;
        transition: all ease-in-out 0.2s;

        @include media-query($on-palm) {
            width: 42vw;
            height: calc(1.53 * 42vw);
        }

        &:hover {
            box-shadow: 0 16px 40px rgba(0,0,0,0.16);
            transform: scale(1.01);
        }
    }
    .book .meta {
        position: absolute;
        bottom: 0;
        padding: 12px 16px;
        background: linear-gradient(0deg, rgba(2,0,36,0.6) 0%, rgba(2,0,36,0) 100%);
        color: #FFFFFF;

        .title {
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
        .author {
            font-size: 12px;
            opacity: 0.6;
        }
    }
    .book .link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .book .cover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;

        img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%
        }
    }
}

.footer-credits {
    text-align: right; 
    float: right; 
    line-height: 48px;
}
@include media-query($on-palm) {
    .footer-col {
        text-align: center;
    }
    .footer-credits {
        text-align: center;
    }
    
}

.insta-gallery {
    margin: 0 -105px;
    width: 962px;
    min-height: 800px;

    @include media-query($on-palm) {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .photo {
        width: 293px;
        height: 293px;
        display: inline-block;
        margin: 14px 12px 14px;
        position: relative;
        vertical-align: top;
        opacity: 0;
        transition: opacity ease-in-out 0.25s, transform ease-in-out 0.2s;

        &:hover {
            box-shadow: 0 8px 32px rgba(0,0,0,0.12);
            transform: scale(1.01);
        }

        @include media-query($on-palm) {
            width: 41vw;
            height: calc(41vw);
            margin: 14px 9px 14px;
        }
    }
    .photo .cover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;

        img {
            flex-shrink: 0;
            min-height: 100%;
            object-fit: cover;
        }
    }
    .photo .meta {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 12px 16px;
        padding-top: 50px;
        background: linear-gradient(0deg, rgba(2,0,36,0.9) 0%, rgba(2,0,36,0) 100%);
        color: #FFFFFF;
        opacity: 0;
        transition: opacity ease-in-out 0.2s;

        @include media-query($on-palm) {
            top: 0;
        }

        .caption {
            display: block;
            font-size: 14px;
            font-weight: 400;
        }
        .likes {
            font-size: 12px;
            opacity: 0.6;
        }
    }
    .photo:hover .meta {
        opacity: 1;
    }
    .photo .link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}