<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <meta name="description" content="Hi, I'm Varun. A product designer from New Delhi, India.">
    <meta name="keywords"
        content="varun, varun dhawan, dhawan, personal blog, designer, product designer, varundhawan.com, varun.im">
    <meta name="author" content="Varun Dhawan">
    <meta name="email" content="me@varundhawan.com">
    <meta name="Charset" content="UTF-8">
    <meta name="Distribution" content="Global">
    <meta name="Rating" content="General">
    <link href="/assets/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
    <div class="content">
        <div class="site-title">
            <h1><a href="/">Varun Dhawan</a></h1>
        </div>
        {{ content }}
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113147150-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-113147150-1');
    </script>
    <!-- Structured Data -->
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Varun Dhawan",
        "url": "http://varundhawan.com",
        "sameAs": [
            "http://www.facebook.com/varun.dhawan",
            "http://instagram.com/__varundhawan",
            "http://www.linkedin.com/in/varundhawan5792",
            "http://www.twitter.com/__varundhawan",
            "http://plus.google.com/+VarunDhawan5792"
        ]
        }
    </script>
</body>

</html>