<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}
    
    <body>
    
        {%- include header.html -%}
    
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>
        
        {%- include footer.html -%}
        
        <!-- Structured Data -->
        <script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "Varun Dhawan",
            "url": "http://varundhawan.com",
            "sameAs": [
                "http://www.facebook.com/varun.dhawan",
                "http://instagram.com/__varundhawan",
                "http://www.linkedin.com/in/varundhawan5792",
                "http://www.twitter.com/__varundhawan",
                "http://plus.google.com/+VarunDhawan5792"
            ]
            }
        </script>

    </body>
</html>