<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Varun Dhawan",
      "url": "https://varundhawan.com",
      "sameAs": [
        "https://www.facebook.com/varun.dhawan",
        "https://instagram.com/__varundhawan",
        "https://www.linkedin.com/in/varundhawan5792",
        "https://www.twitter.com/__varundhawan",
        "https://medium.com/@VarunDhawan",
        "https://plus.google.com/+VarunDhawan5792",
        "https://www.behance.net/varundhawan",
        "https://dribbble.com/varundhawan"
      ]
    }
    </script>
    <body>
    
        {%- include header.html -%}
    
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
              <content>
                {{ content }}
              </content>
            </div>
        </main>
        
        {%- include footer.html -%}
        {% if page.preview != false %}
        {% include link-previews.html wrapperQuerySelector="content" %}
        {% endif %}
    </body>
</html>